body {
  font-family: 'Cabin', system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%; }

html,
body {
  width: 100vw;
  height: 100vh; }

body {
  background: linear-gradient(45deg, #02001f, #1f1b4e);
  transform-style: preserve-3d;
  transform: perspective(60rem);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; }

a {
  text-decoration: none;
  color: inherit; }

.menu-list {
  font-size: 4rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.menu-list-item {
  position: relative;
  color: transparent;
  cursor: pointer; }
  .menu-list-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -10%;
    right: -10%;
    height: 4px;
    border-radius: 4px;
    margin-top: -2px;
    background: #b9d10a;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1; }

.mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: #b9d10a;
  top: 0;
  height: 50%;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98); }
  .mask span {
    display: block; }

.mask + .mask {
  top: 49.9%;
  height: 50.1%; }
  .mask + .mask span {
    transform: translateY(-50%); }

.menu-list-item:hover .mask,
.menu-list-item:active .mask {
  color: #fff;
  transform: skewX(12deg) translateX(5px); }

.menu-list-item:hover .mask + .mask,
.menu-list-item:active .mask + .mask {
  transform: skewX(12deg) translateX(-5px); }

.menu-list-item:hover::before,
.menu-list-item:active::before {
  transform: scale(1); }
